<form class="add-form" id="addForm">
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Добавяне на оценка</legend>
        <label class="col-md-3 text-right">Име:</label>
        <input id="students" name="name" list="suggestions" class="form-control">
        <datalist id="suggestions">
            <option ng-repeat="student in AssessmentsAddCtrl.students" value="{{student.id}}">{{student.firstName + ' ' + student.lastName}}</option>
        </datalist>
        <label class="col-md-3 text-right">Дисциплина:</label>
        <select class="form-control" name="subject">
            <option ng-repeat="subject in AssessmentsAddCtrl.subjects" value="{{subject.id}}" >{{subject.name}}</option>
        </select>
        <label class="col-md-3 text-right">Хорариум (Л):</label>
        <input type="text" name="lection" class="form-control small"/>
        <label class="col-md-3 text-right">Хорариум (У):</label>
        <input type="text" name="exercise" class="form-control small"/>
        <label class="col-md-3 text-right">Оценка:</label>
        <select class="form-control small" name="assessment">
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
        </select>
        <button type="submit" value="Submit" class="btn btn-success pull-right">Добави</button>
        <button type="reset" value="Reset" ng-click="reset()" class="btn btn-danger pull-right">Откажи</button>
    </fieldset
</form>
