<form class="add-form">
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Добавяне на дисциплина</legend>
        <label class="col-md-3 text-right">Име:</label>
        <input type="text" name="name" class="form-control"/>
        <label class="col-md-3 text-right">Хорариум (Л):</label>
        <input type="text" name="lection" class="form-control small"/>
        <label class="col-md-3 text-right">Хорариум (У):</label>
        <input type="text" name="exercise" class="form-control small"/>
        <button type="submit" value="Submit" class="btn btn-success pull-right">Добави</button>
        <button type="reset" value="Reset" class="btn btn-danger pull-right">Откажи</button>
    </fieldset>
</form>
