<header>
    <a href="#/disciplines/add" class="new btn btn-default"><span class="glyphicon glyphicon-plus"></span>&nbsp; Нова</a>
</header>
<form class="search-form">
    <label for="nameFieldDisciplines" class="col-md-3 text-right">Име:</label>
    <input type="search" name="name" class="form-control" id="nameFieldDisciplines"/>
    <button class="btn btn-info">Търси</button>
</form>
<table class="table table-bordered">
    <thead>
        <tr class="header">
            <td class="id">#</td>
            <td>Име</td>
            <td>Хорариум (Л)</td>
            <td>Хорариум (Л)</td>
            <td class="options">Операции</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="discipline in DisciplinesCtrl.disciplines">
            <td>{{discipline.id}}</td>
            <td>{{discipline.name}}</td>
            <td>{{discipline.workloadLectures}}</td>
            <td>{{discipline.workloadExercises}}</td>
            <td>
                <a href="#/disciplines/edit" class="btn btn-default options-button"><img src="icons/edit.png" alt="Edit Icon" title="Edit" class="icon"/></a>
                <a href="#" class="btn btn-default options-button"><img src="icons/delete.png" alt="Delete Icon" title="Delete" class="icon"/></a>
            </td>
        </tr>
    </tbody>
</table>