<form class="add-form">
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Добавяне на студент</legend>
        <label class="col-md-5 text-right">Собствено име:</label>
        <input type="text" name="firstName" class="form-control">
        <label class="col-md-5 text-right">Фамилия:</label>
        <input type="text" name="lastName" class="form-control">
        <label class="col-md-5 text-right">Факултетен номер:</label>
        <input type="text" name="facultyNumber" class="form-control">
        <label class="col-md-5 text-right">E-mail:</label>
        <input type="email" name="email" class="form-control">
        <label class="col-md-5 text-right">Курс:</label>
        <select name="course" class="form-control">
            <option ng-repeat="course in StudentsAddCtrl.courses" value="{{course.id}}">{{course.name}}</option>
        </select>
        <label class="col-md-5 text-right">Специалност</label>
        <select name="speciality" class="form-control">
            <option ng-repeat="speciality in StudentsAddCtrl.specialities" value="{{speciality.id}}">
                {{speciality.nameLong}}
            </option>
        </select>
        <label class="col-md-5 text-right">Форма на обучение:</label>
        <select name="educationForm" class="form-control">
            <option value="Р">(Р) Редовно</option>
            <option value="З">(З) Задочно</option>
        </select>
        <button type="submit" value="Submit" class="btn btn-success pull-right">Добави</button>
        <button type="reset" value="Reset" class="btn btn-danger pull-right">Откажи</button>
    </fieldset>
</form>
