<form class="edit-form">
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Редактиране на оценка</legend>

        <label for="user-name" class="col-md-5 text-right">Потребителско име:</label>
        <input id="user-name" type="text" name="userName" class="form-control" ng-repeat="user in UsersEditCtrl.users"
               value="{{user.username}}"/>

        <label for="first-name" class="col-md-5 text-right">Собствено име:</label>
        <input id="first-name" type="text" name="firstName" class="form-control" ng-repeat="user in UsersEditCtrl.users"
               value="{{user.firstName}}"/>

        <label for="last-name" class="col-md-5 text-right">Фамилно име:</label>
        <input id="last-name" type="text" name="lastName" class="form-control" ng-repeat="user in UsersEditCtrl.users"
               value="{{user.lastName}}"/>

        <label for="password" class="col-md-5 text-right">Парола:</label>
        <input id="password" type="password" name="password" class="form-control"/>

        <label for="re-password" class="col-md-5 text-right">Повтори парола:</label>
        <input id="re-password" type="password" name="rePassword" class="form-control"/>

        <label for="email" class="col-md-5 text-right">E-mail:</label>
        <input id="email" type="email" name="email" class="form-control" ng-repeat="user in UsersEditCtrl.users"
               value="{{user.email}}"/>

        <label for="role" class="col-md-5 text-right">Роля:</label>
        <select id="role" class="form-control">
            <option ng-repeat="role in UsersEditCtrl.roles" value="{{role.id}}">{{role.name}}</option>
        </select>

        <button type="submit" value="Submit" class="btn btn-success pull-right">Редактирай</button>
        <button type="reset" value="Reset" ng-click="reset()" class="btn btn-danger pull-right">Откажи</button>
    </fieldset>
</form>
