<form class="edit-form">
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Редактиране на курс</legend>
        <label class="col-md-3 text-right">Име на курс:</label>
        <input type="text" name="name" class="form-control small"/>
        <button type="submit" value="Submit" class="btn btn-success pull-right">Редактирай</button>
        <button type="reset" value="Reset" ng-click="reset()" class="btn btn-danger pull-right">Откажи</button>
    </fieldset>
</form>
